@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #141824; 
  -webkit-border-radius: 0px;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #ffffff; 
  -webkit-box-shadow: inset 0 0 6px #fdfdfd; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #FFB600; 
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  background: black;
  -webkit-tap-highlight-color: transparent;
  max-width: 100vw !important;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
